            <footer>
                <div class="footer_action">
                    <div class="container">
                        <div class="row">
                            <div class="store col-md-3 col-sm-6">
                                <p><strong>Tải app</strong></p>
                                <p><a href="#" title="Appstore download" class="appstore_download"><img src="images/appstore_download.jpg" alt="appstore download"/></a><a href="#" title="Google play download" class="android_download"><img src="images/google_download.jpg" alt="android download"/></a></p>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <p><strong>Đăng ký nhận tin khuyến mãi</strong></p>
                                <p class="form_register"><input type="text" class="form-control" placeholder="Nhập email của bạn"><button type="button" class="btn btn-primary btn-lg">Đăng ký</button></p>
                            </div>
                            <div class="shareweb col-md-3 col-sm-6">
                                <p><strong>Chia sẻ</strong></p>
                                <ul class="pad-0">
                                    <li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//ifind.vn/" class="facebook_icn" title="share facebook"><img src="images/facebook_icn.png" atl="share facebook"/></a></li>
                                    <li><a target="_blank" href="https://twitter.com/home?status=http%3A//ifind.vn/" class="twitter_icn" title="share twitter"><img src="images/twitter_icn.png" atl="share twitter"/></a></li>
                                    <li><a target="_blank" href="https://plus.google.com/share?url=http%3A//ifind.vn/" class="google_icn" title="share google plus"><img src="images/google_plus_icn.png" atl="share google plus"/></a></li>
                                    <li><a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//ifind.vn/&title=iFind%20-%20T%C3%ACm%20nhanh%20%C6%B0u%20%C4%91%C3%A3i&summary=&source=" class="linkedin_icn" title="share linkedin"><img src="images/linkedin_icn.png" atl="share linkedin"/></a></li>
                                </ul>
                            </div>
                            <div class="hotbox col-md-3 col-sm-6">
                                <p><strong>Hotline</strong></p>
                                <p class="bottom_hotline"><a href="tel:+80123456789">(801) 2345 - 6789</a></p>
                            </div>
                        </div>
                    </div>
                            
                </div>
                <div class="footer_info">
                    <div class="container">
                        <div class="row">
                            <div class="leftinfo col-md-8 col-sm-12 pad-0">
                                <a title="Đăng ký bộ công thương" class="registered"><img src="images/registered.jpg" alt=""/></a>
                                <ul>
                                    <li><strong>Công ty Cổ phần iFind</strong></li>
                                    <li>Email: contact@ifind.vn</li>
                                    <li>Mã số thuế: 0314330922</li>
                                    <li>Địa chỉ: số 7/1 Thành Thái, Quận 10, Tp. HCM</li>
                                </ul>
                            </div>
                            <div class="rightinfo col-md-4 col-sm-12 pad-0">
                                <p>Đối tác chiến lược <a href="https://www.nhaccuatui.com/" target="_blank" title="Nhaccuatui.com"><img src="images/nct_logo.png" alt="" /></a></p>
                            </div>
                        </div>
                    </div>
                    </div>
            </footer>
        </div>

    </div>  
    
</body>
</html>