<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Header tags SEO is one of the main on page SEO techniques. This purpose of this post to make you understand how you can optimize Header tags in your post t">
    <meta name="keywords" content="Deal,travel,Food,beauty">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <title>IFind</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <% include meta-fb %>
</head>
<body>
    <div class="wrapper">
        <div class="topmobile"><button type="button" class="btn btn-primary btn-lg btnmobile"><span></span>Tải ứng dụng</button></div>
        <div class="toolbar">
            <ul>
                <li><a href="#shopping"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                <li><a href="#food"><i class="fa fa-cutlery" aria-hidden="true"></i></a></li>
                <li><a href="#spa"><i class="fa fa-male" aria-hidden="true"></i></a></li>
                <li><a href="#travel"><i class="fa fa-spotify" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-leaf" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <header>
            <div class="container">
                <div class="lefthead">
                    <a href="#" class="logo">
                        <img src="images/ifind_logo.png" alt="ifind logo" class="img-responsive">
                    </a>
                </div>
                <div class="righthead">
                    <div class="form-group boxsearch">
                        <select class="form-control" id="sel1">
                          <option>Toàn quốc</option>
                          <option>TPHCM</option>
                          <option>Hà Nội</option>
                          <option>Cần Thơ</option>
                        </select>
                        <input type="text" class="form-control" placeholder="Nhập nội dung tìm kiếm">
                        <a href="#" class="search_button" title="Tìm kiếm">Search button</a>
                      </div>
                      <button type="button" class="btn btn-primary btn-lg"><span></span>Tải ứng dụng</button>
                </div>
            </div>
        </header>
        <div class="mainnav navbar navbar-inverse navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar3" aria-expanded="true"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                        <div class="navbar-left">
                            <a href="home"><img src="images/logo_mobile.png" class="img-responsive logomobile"/></a>
                        </div>
                    </div>  
                    <div class="collapse navbar-collapse navbar3">
                        <ul class="nav navbar-nav topnav">
                            <li><a class="categlory active" href="home">MỚI NHẤT</a></li>
                            <li><a class="categlory" href="contact">ĐỘC QUYỀN</a></li>
                            <li><a class="categlory" href="">ĐỔI ĐIỂM</a></li>    
                            <li><a class="categlory" href="services">DANH MỤC</a></li>
                            <li><a class="categlory" href="services">NHÃN HÀNG</a></li>
                            <li><a class="categlory" href="services">ĐĂNG ƯU ĐÃI</a></li>
                            <li><a class="categlory" href="services">LIÊN HỆ</a></li>
                        </ul>
                    </div>
                    <div class="hotline"><span></span><p><b>HOTLINE: </b><a href="tel:+80123456789">(801) 2345 - 6789</a></p</div>
                </div>
            </div>
        </div>
        <div class="bodycontent">