<div class="catebox">
    <div class="titlerow row">
            <h1 id="shopping" class="title_cate">Mua sắm<span></span></h1>
            <p class="viewall"><span></span><a href="#" title="Xem tất cả">Xem tất cả</a></p>
    </div>
    <div class="boxcontent">
        <div class="row">
			<div class="col-md-3 leftcate top">
					<a href="#" title="banner left"><img src="images/left_banner_cate.jpg" alt="left banner"></a>
			</div>
			<div class="rightcate col-md-9 col-sm-12 pad-0">
				<ul class="row pad-0">
						<% data.muasam.data.list_deals.map(function(obj){%>
							<% include deal-item %>
					<% }) %>
				</ul>
			</div>
		</div>
	</div>
</div>